<section class="section container-fluid">
    <div style="height: 200px">
      <h1 class="page-header">Listen to an incoming message</h1>  
    </div>
</section>

<section class="section container-fluid">
    <div id="status-container"> 
    </div>
    <div id="start-listen-button" style="height: 200px">
      <button id="listen-button" 
        ng-click="smsListen()">Start Listening</button> 
      <button id="stop-listen-button"
        ng-click="smsStop()">Stop Listening</button>
    </div>
</section>

<section class="section container-fluid">
    <div id="status-container"> 
    </div>
    <div id="start-listen-button" style="height: 200px">
      <button id="listen-button" 
        ng-click="startIntercept()">Start Intercepting</button> 
      <button id="stop-listen-button"
        ng-click="stopIntercept()">Stop Intercepting</button>
    </div>
</section>

